@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<SatisHareket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered">

    <tr>
        <th>İD</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Adet</th>
        <th>Fiyat</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Güncelle</th>
        <th>Detaylar</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Satısİd</td>
            <td>@item.Urun.UrunAd</td>
            <td>@item.Cariler.CariAdı @item.Cariler.CariSoyad</td>
            <td>@item.Personel.PersonelAd @item.Personel.personelSoyad</td>
            <td>@item.Adet</td>
            <td>@item.Fiyat</td>
            <td>@item.ToplamTutar</td>
            <td>@item.Tarih</td>
            <td><a href="/Cari/CariGetir/@item.Cariİd" class="btn btn-outline-warning">Güncelle</a></td>
            <td><a href="/Cari/MusteriSatis/@item.Cariİd" class="btn btn-default" style="background-color:lightcoral">Detaylar</a></td>
        </tr>
    }

</table>

<a href="/Satis/SatisEkle/" class="btn btn-info">Yeni Satış Yap</a>