@model List<SatisHareket>

@{
    ViewBag.Title = "SatisDetay";
}

<h2>Satış Detayı</h2>

<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personel Adı: @ViewBag.vdepartman</li>

</ol>
<table class="table table-condensed">

    <tr>
        <th>Satış İd</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Satısİd</th>
            <td>@item.Urun.UrunAd</td>
            <td>@item.Cariler.CariAdı @item.Cariler.CariSoyad</td>
            <td>@item.Personel.PersonelAd @item.Personel.personelSoyad</td>
            <td>@item.Fiyat</td>
            <td>@item.Adet</td>
            <td>@item.ToplamTutar</td>
            <td>@item.Tarih</td>
        </tr>
    }
</table>
<button class="btn btn-outline-danger">Yazdır</button>
