@model  Cariler

@{
    ViewBag.Title = "CariEkle";
}

<h2>Yeni Cari Sayfası</h2>

<br />

<form class="form-group" method="post">

    @Html.Label("Cari Adı")
    @Html.TextBoxFor(x => x.CariAdı, new { @class = "form-control" })
    <br />

    @Html.Label("Cari Soyadı")
    @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
    <br />

    @Html.Label("Sehir")
    @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
    <br />

    @Html.Label("Mail")
    @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Kaydet</button>

</form>

