@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model  List<Cariler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">

    <tr>

        <th>Cari İd</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>

    </tr>

    @foreach(var item in Model)
    {
    <tr>
        <td>@item.Cariİd</td>
        <td>@item.CariAdı</td>
        <td>@item.CariSoyad</td>
        <td>@item.CariSehir</td>
        <td>@item.CariMail</td>
        <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
        <td><a href="#" class="btn btn-outline-warning">Güncelle</a></td>
        <td><a href="#" class="btn btn-default" style="background-color:lightcoral">Satış Geçmişi</a></td>
    </tr>
    }

</table>

<a href="/Cari/CariEKle/" class="btn btn-info">Yeni Cari Ekle</a>